body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sectionContainer {
  margin: auto;
  border: 4px solid whitesmoke;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-item {
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 16px;
  min-width: 180px;
  height: auto;
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 5px 5px  rgba(0, 0, 0, 0.5);
}

.gallery-item:hover {
  box-shadow: 5px 5px 10px 5px #777, -5px -5px 10px 5px #777;
}

.gallery-item h2 {
  height: 30%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.gallery-item p {
  text-align: center;
  vertical-align: middle;
  height: 60%;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

div.gallery-item img {
  width: 30%;
  aspect-ratio: 16/9;
  border-radius: 16px;
  float: left;
  object-fit: cover;
}
.gallery-item img:hover {
  translate: 5px -10px;
  box-shadow: -5px 5px 5px #777;
  border-color: rgba(255, 145, 0, 0.8);
  border-width: 4px;
  border-style: inset;

}
